#bookyear, #booktitle{
	width:50%;
	height:5vh;
	font-size:150%;
	margin-bottom:3vh;
}
h2{
	font-size:300%;
}
#content{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
#form{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:70%;
}
#button{
	width:20%;
	height:50px;
}