#bookyear, #booktitle, #bookauthor{
	width:50%;
	height:5vh;
	font-size:150%;
	margin-bottom:3vh;
}
h2{
	font-size:300%;
}
#content{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
#form{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:70%;
}
#button{
	width:20%;
	height:50px;
}
.books{
	display:flex;
	width:100%;
	height:5vh;
	align-items:center;
	justify-content:center;
	font-size:200%;
	margin-top:4vh;
	text-align:center;
}
.button{
	height:5vh;
	width:100%;
}
.year{
	margin-left:5vh;
}
.author{
	margin-left:3vw;
}
#form2{
	width:10%;
	margin-left:3vw;
}
#message{
	color:#e5e5e5;
	margin-left: 2vw;
}
@media only screen and (max-width: 800px){
	.books{
		font-size:150%;
	}
	#button{
	width:35%;
	height:70px;
}
#bookyear, #booktitle, #bookauthor{
	width:80%;
	height:5vh;
	font-size:150%;
	margin-bottom:3vh;
}
.button{
	height:5vh;
	width:100;
}
}
