img{
	object-fit:cover;
	width:100%;
	height:50vh;
}	

h1{
	text-align:center;
	font-size:340%;
	font-weight:bold;
	width:100%;
	height:10vh;
}
#content{
	display:flex;
	width:100%;
	justify-content:center;
	text-align:center;
	align-items:center;
}
.contentbox{
	height:30vh;
	width:50%;
}
h3{
	color:#e5e5e5;
	font-size:200%;
	margin-bottom:2vh;
	margin-top:3vh;
}
h2{
	color:#e5e5e5;
	font-size:200%;
	margin-bottom:2vh;
	margin-top:3vh;
}

@media only screen and (max-width: 800px){
	#content{
		flex-direction: column;
	}
	.contentbox{
		width:100%;
		margin-top:5vh;
	}
}
