#header{
	height:10vh;
	text-align:center;
	margin-top:10vh;
	font-size:300%;
	color: #e5e5e5;
}
#content{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
}
.articleimg{
	max-height:100%;
	max-width:100%;
	height:40vh;
	width:30%;
}
.article{
	width:80%;
	height:30%;
}
.bar{
	width:100%;
	height:0.5vh;
	margin-bottom:2vh;
	margin-top:5%;
	background-color:#e5e5e5;
}
.title{
	margin-bottom:1vh;
	font-size:200%;
}
.author{
	margin-bottom:3vh;
}
.story{
	margin-top:2vh;
}