#searchheading{
	font-size:400%;
	text-align:center;
	margin-bottom:2vh;
}
#content{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding-top:15vh;
}
#searchbar{
	width:80%;
	height:5vh;
	font-size:150%;
}
#button{
	width:10%;
}
form{
	display:flex;
	justify-content:center;
	width:60%;
	font-size:200%;
}
.listitem{
	width:70%;
	display:flex;
	border: 1px solid #FCA311;
	border-radius:5px;
	margin-bottom:2vh;
	font-size:200%;
	justify-content:space-between;
}
h1{
	font-size:300%;
	margin-top:3vh;
	margin-bottom:2vh;
}
.bookauthor{
	color:#e5e5e5;
}
@media only screen and (max-width: 800px){
	.listitem{
		width:100%;
	}
	form{
		width:80%;
	}
}